<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/categories.css">
    <link rel="stylesheet" href="/styles/{{pageCss}}.css">
</head>
<body>
    
    <section class="home-title-banner">
        <h1><a href="/">Tech Mod Forum</a></h1>
    </section>
    

    {{> header}}

    {{> categories}}

    {{{ body }}}

    <script src="/scripts/categories.js"></script>
    <script src="/scripts/validation.js"></script>
</body>
</html>