<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/categories.css">
</head>
<body>
    {{> header}}

    {{> categories}}
    <div class="container">
        <h1>Tech Mod Forum</h1>
        <p>Welcome to Tech Mod Forum, a web application built for tech enthusiasts and hobbyists. This platform allows users to share posts, discuss categories, and engage in community discussions.</p>
        <br>
        <h1>Project Information</h1>
        <p>This is the Machine Project for CCAPDEV of DLSU. A web-forum made for anything tech-related.</p>
        <br>
        <h1>Repository: <a href="https://github.com/Dalmally/CCAPDEV-Machine-Project" target="_blank">GitHub</a></h1>
        
        <h1>NPM Packages and Third-Party Libraries</h1>
        <p>The following NPM packages are used in this project:</p>
        <br>
        <ul>
            <li><strong>connect-mongo</strong></li>
            <li><strong>dotenv</strong></li>
            <li><strong>express</strong></li>
            <li><strong>express-handlebars</strong></li>
            <li><strong>mongodb</strong></li>
            <li><strong>mongoose</strong></li>
            <li><strong>nodemon</strong></li>
        </ul>
        <br>
        <p>Third-Party Libraries Used</p>
        <ul>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>MongoDB</li>
            <li>Mongoose</li>
            <li>Handlebars (Express Handlebars)</li>
            <li>HTML5, CSS3, JavaScript</li>
        </ul>
    </div>

    <script src="/scripts/categories.js"></script>
</body>
</html>