<div class="main-content">
    <h1>Welcome to The Tech Mod Forum!</h1>
    <p>Main Index Page</p>
    <p>{{test}}</p>
    <ul>
        <li><a href="/home" class="nav-btn">Home - Main forum page</a></li>
        <li><a href="login" class="nav-btn">Login - User authentication</a></li>
        <li><a href="/registration" class="nav-btn">Registration - Create new account</a></li>
        <li><a href="profile" class="nav-btn">Profile - View user profile</a></li>
        <li><a href="search" class="nav-btn">Search - Search posts and categories</a></li>
        <li><a href="createpost" class="nav-btn">Create Post - Add new post</a></li>
        <li><a href="editprofile" class="nav-btn">Edit Profile - Modify user profile</a></li>
        <li><a href="viewcategory" class="nav-btn">View Category - Browse category posts</a></li>
        <li><a href="viewpost" class="nav-btn">View Post - Read individual post</a></li>
    </ul>
</div>

